<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Hello, world!</title>
    <style>
      img{
        display: inline-block;
        width: 2023px;
        height: 750px;
      }
      .cent{
        position: absolute;
        top: 310px;
        left: 590px;
      }

    </style>
  </head>
  <body>
   {% load static%}
     <img src="{% static 'shop/bg.jpg' %}">
   <div class="cent">
     <center><h1>WELCOME TO A-CART</h1>
    <button type="button" onclick="location.href='/shop'" class="btn btn-outline-primary my-4 mx-2 btn-lg">Go To Shop</button>
    <button type="button" onclick="location.href='/blog'" class="btn btn-outline-primary my-4 mx-2 btn-lg">Go To Blog</button>
      </center>
   </div>


   <div class="my-4">
     <main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">A-CART</h1>
      <p><b>A_CART</b> is an online marketplace and logistics company which operates in markets of Pakistan. It was founded in 2020 as an online Electronic e-commerce marketplace in Pakistan by MFounder) & Farees Shah (Co-Founder) at the based venture builder, Rocket Internet. A_CARTS Group operates e-commerce platforms and logistics service in Bangladesh, Myanmar, Nepal, Pakistan and Sri Lanka.[1] Bjarke Mikkelsen is the current CEO of A_Cart.[2][3] In May 2018, Daraz Group was acquired by the Chinese e-commerce company Alibaba Group from th German venture capital company,</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-6 my-5">
        <h2>Abdul Rehman</h2>
        <p>Abdul Rehman is a developer of A_CART.He Developed this ecommerce website for online selling of products. Resources <b>Python-Django</b></p>
      </div>
      <div class="col-md-6 my-5">
        <h2>Organization</h2>
        <p><b>A_CART</b> is an online marketplace and logistics company which operates in markets of Pakistan. It was founded in 2020 as an online Electronic e-commerce marketplace in Pakistan</p>
      </div>
      <div class="col-md-4">
    </div>
    <hr>
  </div> <!-- /container -->
     </main>
   </div>

     <footer>
       <div class="container col" style="background-color: black; text-align: center">
         <div class="row">
           <div class="col" style="color: lightsteelblue">
             <h2>ABOUT A-Cart</h2>
             <p><b>A_CART</b> is an online marketplace and logistics company which operates in markets of Pakistan.  It was founded in 2020 as an online Electronic e-commerce marketplace in Pakistan by MFounder) & Farees Shah (Co-Founder) at the based venture builder, Rocket Internet. A_CARTS Group operates e-commerce platforms and logistics service in Bangladesh, Myanmar, Nepal, Pakistan and Sri Lanka.[1] Bjarke Mikkelsen is the current CEO of A_Cart.[2][3] In May 2018, Daraz Group was acquired by the Chinese e-commerce company Alibaba Group from th German venture capital company,</p>
           </div>
           <div class="col" style="color: lightsteelblue; text-align: center">
             <h2>CONTACT</h2>
		<i class="material-icons"  style="font-size:26px">home</i> Gujranwala,Pakistan <br>
		<i class="material-icons"  style="font-size:26px">phone</i> 03337440237 <br>
		<i class="material-icons"  style="font-size:26px">mail</i> abdulrehman7440237@gmail.com <br>
		<i class="fa fa-instagram" style="font-size:24px"></i> Vilen
           </div>
         </div>
       </div>
     </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>