{% extends 'shop/basic.html' %}

{% block title %}About Us{% endblock %}

{% block body %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">A-CART</h1>
      <p><b>A_CART</b> is an online marketplace and logistics company which operates in markets of Pakistan. It was founded in 2020 as an online Electronic e-commerce marketplace in Pakistan by MFounder) & Farees Shah (Co-Founder) at the based venture builder, Rocket Internet. A_CARTS Group operates e-commerce platforms and logistics service in Bangladesh, Myanmar, Nepal, Pakistan and Sri Lanka.[1] Bjarke Mikkelsen is the current CEO of A_Cart.[2][3] In May 2018, Daraz Group was acquired by the Chinese e-commerce company Alibaba Group from th German venture capital company,</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-6 my-5">
        <h2>Abdul Rehman</h2>
        <p>Abdul Rehman is a developer of A_CART.He Developed this ecommerce website for online selling of products. Resources <b>Python-Django</b></p>
      </div>
      <div class="col-md-6 my-5">
        <h2>Organization</h2>
        <p><b>A_CART</b> is an online marketplace and logistics company which operates in markets of Pakistan. It was founded in 2020 as an online Electronic e-commerce marketplace in Pakistan</p>
      </div>
      <div class="col-md-4">
    </div>
    <hr>
  </div> <!-- /container -->
</main>
{% endblock %}